@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
:root {
  --font:"Comic Neue", cursive;
  --color: rgba(32,33,36,1);
  --color1: #171717;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-weight: 100;
  font-size: large;
  color: white;
}

body {
  background-color: var(--color);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
}

.nav {
  display: grid;
  margin: 5px;
  grid-template-columns: 130px auto;
  white-space: nowrap;
}
.nav .searchLink {
  text-align: right;
}
.nav .searchLink .googleAcc {
  background-color: blue;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  text-align: center;
}
.nav div {
  padding: 8px;
}
.nav a {
  margin: 3px;
}

.image {
  text-align: center;
  margin-top: 20px;
}
.image img {
  max-width: 370px;
  max-height: 270px;
  padding: 15px 0px 0px 0px;
}

.form {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.form .text {
  height: 35px;
  border-radius: 25px;
  border: white solid 1px;
  display: flex;
  margin: auto;
  max-width: 530px;
  width: auto;
  z-index: 3;
  padding-right: 10px;
}
.form .text .magnifyGlass {
  margin: 7px 10px 10px 10px;
}
.form .text .magnifyGlass svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.form .text input {
  margin-top: 2px;
  width: 470px;
  height: 30px;
  background-color: var(--color);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}
.form .button {
  margin: 30px;
}
.form .button .searchButton, .form .button .luckyButton {
  text-align: center;
  margin: 0px 10px 0px 10px;
  border: black solid 1px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: gray;
  color: white;
}
.form .button :hover {
  border: white solid 1px;
  color: var(--color1);
  cursor: pointer;
}

.white_space {
  text-align: center;
  height: 228px;
}
.white_space a {
  color: blue;
}

.lastDiv {
  background-color: var(--color1);
  flex: 1;
}
.lastDiv .Canada {
  border-bottom: white solid 1px;
  padding: 10px 15px;
}

@media (min-width: 801px) {
  .white_space {
    height: 228px;
    transition: height 1s;
  }
  .lastDiv .end {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--color1);
  }
  .lastDiv .end .ad {
    text-align: left;
    padding: 5px;
    padding-left: 15px;
    width: auto;
  }
  .lastDiv .end .terms {
    text-align: right;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
  }
  .lastDiv .end a {
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .white_space {
    height: 160px;
    transition: height 1s;
  }
  .lastDiv .end .ad {
    text-align: center;
    padding: 10px;
    padding-left: 15px;
  }
  .lastDiv .end .terms {
    text-align: center;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .lastDiv .end a {
    margin: 10px;
  }
}
a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */